{% extends '::base.html.twig'%}

{% block body %}
    
<div class="animsition"
	<section class="cd-section">
	
	
        
<section class="section white-background portfolio-padding-top-bottom-1">
		<div class="container">			
			<div class="sixteen columns">
				<div id="portfolio-filter">
					<ul id="filter">
						<li><a href="#" class="current" data-filter="*" title="">All</a></li>
						<li><a href="#" data-filter=".branding" title="">branding</a></li>
						<li><a href="#" data-filter=".photo" title="">photo</a></li>
						<li><a href="#" data-filter=".motion" title="">Motion</a></li>
						<li><a href="#" data-filter=".web" title="">Web</a></li>
                                                
                                               
					</ul>
				</div>
			</div>	
		</div>
		
			<div id="projects-grid">
				<a href="project1.html" class="animsition-link">
					<div class="portfolio-box-1 branding">
						<div class="mask-1"></div>
						<img src="{{asset('templates/images/portfolio/radiomed1.png')}}" alt="">
						<h6>Bing Bang Jewelry</h6>
						<div class="line-mask"></div>
						<p>branding</p>
					</div>
				</a>
				<a href="project2.html" class="animsition-link">
					<div class="portfolio-box-1 photo web">
						<div class="mask-1"></div>
						<img src="{{asset('templates/images/portfolio/radiomed2.png')}}" alt="">
						<h6>Ballady & Pajonki</h6>
						<div class="line-mask"></div>
						<p>photo</p>
					</div>
				</a>
				<a href="project3.html" class="animsition-link">
					<div class="portfolio-box-1 branding">
						<div class="mask-1"></div>
						<img src="{{asset('templates/images/portfolio/radiomed3.png')}}" alt="">
						<h6>Resume Template</h6>
						<div class="line-mask"></div>
						<p>branding</p>
					</div>
				</a>
				<a href="project4.html" class="animsition-link">
					<div class="portfolio-box-1 motion">
						<div class="mask-1"></div>
						<img src="{{asset('templates/images/portfolio/lacleman1.png')}}" alt="">
						<h6>AHAB</h6>
						<div class="line-mask"></div>
						<p>motion</p>
					</div>
				</a>
                                                
                                 <a href="project5.html" class="animsition-link">
					<div class="portfolio-box-1 web">
						<div class="mask-1"></div>
						<img src="{{asset('templates/images/portfolio/lacleman2.png')}}" alt="">
						<h6>Illustrations 2014</h6>
						<div class="line-mask"></div>
						<p>web</p>
					</div>
				</a>               
                                                
                                                
                                          
				<a href="project6.html" class="animsition-link">
					<div class="portfolio-box-1 motion">
						<div class="mask-1"></div>
						<img src="{{asset('templates/images/portfolio/lacleman3.png')}}" alt="">
						<h6>El Gran Azul</h6>
						<div class="line-mask"></div>
						<p>motion</p>
					</div>
				</a>
				<a href="project7.html" class="animsition-link">
					<div class="portfolio-box-1 photo">
						<div class="mask-1"></div>
						<img src="{{asset('templates/images/standup1.png')}}" alt="">
						<h6>Concept Design</h6>
						<div class="line-mask"></div>
						<p>photo</p>
					</div>
				</a>
				<a href="project8.html" class="animsition-link">
					<div class="portfolio-box-1 branding">
						<div class="mask-1"></div>
						<img src="{{asset('templates/images/standup2.png')}}" alt="">
						<h6>LOUD</h6>
						<div class="line-mask"></div>
						<p>branding</p>
					</div>
				</a>
				<a href="project9.html" class="animsition-link">
					<div class="portfolio-box-1 web">
						<div class="mask-1"></div>
						<img src="{{asset('templates/images/standup3.png')}}" alt="">
						<h6>Demeter</h6>
						<div class="line-mask"></div>
						<p>web</p>
					</div>
				</a>
				<a href="project10.html" class="animsition-link">
					<div class="portfolio-box-1 photo">
						<div class="mask-1"></div>
						<img src="{{asset('templates/images/br1.png')}}" alt="">
						<h6>KixBox SS/14</h6>
						<div class="line-mask"></div>
						<p>photo</p>
					</div>
				</a>
			</div>
	</section>
                                                
	<section class="section white-background padding-top-bottom">
		<div class="container">
			<div class="sixteen columns">	
				<div class="project-arrows-wrapper">
					<a href="project10.html" class="animsition-link"><div class="project-arrow-left"><p>prev</p></div></a>
					<a href="project2.html" class="animsition-link"><div class="project-arrow-right"><p>next</p></div></a>
				</div>
			</div>	
		</div>
	</section>	
                                                
	<footer class="footer no-shadow">
		<div class="container">
			<div class="sixteen columns">
				<div class="footer-social">
					<a href="#">twitter</a>
					<a href="#">github</a>
					<a href="#">facebook</a>
					<a href="#">google +</a>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="sixteen columns">
				<div class="footer-copy-text">
					<p>© CARRé communication 2017</p>
					<p>Made by CARRé</p>
				</div>
			</div>
		</div>  
</div>
                                                
                                                
                                         
	</footer> 	

 {%endblock  %}	   